HTTP_PORT=80
SSH_PORT=23

SERVER_URL=https://localhost/
CAPTURE_URL=https://atlas.openmrs.org
SERVER_DATA=https://localhost/data.php?callback=loadSites

API_KEY=1234567890abcdef
SITE_KEY=localhost
ID_HOST=http://localhost:8888

HOST=atlas
MYSQL_PASSWORD=mysql

SAMPLE_DATA=1
